node_modules
.cache
.parcel-cache
notes.md
dist
fun.js
dist/index.b4b6dfad.js
dist/index.b4b6dfad.js
dist/index.b4b6dfad.js.map
dist/index.ce1d6491.css
dist/index.ce1d6491.css
dist/index.ce1d6491.css.map
