// center all text in login-card
.login-card {
  text-align: center;
  margin-top: 100;
  margin-bottom: 50;
  width: 30;

}

// center form controls
.form-control {
  text-align: center;
}

// make login card background color blue
.login-card {
  background-color: #10ed52;
}