// center all text in login-card
.login-card {
  text-align: center;
  margin-top: 50;
  margin-bottom: 50;

}

// center all text in login-card
.signup-card {
  text-align: center;
  margin-top: 10;
  margin-bottom: 50;

}

// center form controls
.form-control {
  text-align: center;
}

// change login card background color
// .login-card {
//   background-color: #10ed52;
// }